<div class="ranking_wrapper">
  <div class="pusher">
    <div class="ui large menu" id="main_navbar">
      <img class="logo" src="assets/tasiemka2.png" alt="Tasiemka"></img>
        <div class="item betterMainWrapper">
          <p class="text-center betterMain">Better <span class='better'> </span> <span class="ofInternet">of internet</span></p>
        </div>
      <div class="right menu">
        <a href="ranking" class="item text-center kontakt">
          <button class="ui purple basic button">Ranking</button>
        </a>  
        <a href="/" class="item text-center kontakt">
          <button class="ui blue basic button">App</button>
        </a>
      </div>
    </div>
  </div>
  <div class="jumbotron">
    <div class="container">

      <h1 class="text-center">The most popular videos on Tasiemka</h1>
      <h2 class="text-center lead">Take a tea, sit down and relax</h2>
    </div>
  </div>
  <div class="container">
    <% @articles.each do |article| %>

      <div class="popular_video ui <%= cycle("violet", "blue", "teal", "green", "olive", "yellow", " yellow", "pink", "purple", "orange", "red") -%> basic button">
        
        <div class="ui basic modal">
          <i class="close icon"></i>

          <div class="ui center aligned header">
            <i class="close icon"></i>
          </div>
          <div class="content">
            <div class="ui embed" data-source="youtube" data-id="<%= article.ytid %>" data-placeholder="<%= article.thumbnail_url %>">
            </div>
          </div>
        </div>



        <div class="row">

          <div class="col-sm-2 hidden-xs">
            <img alt="Bec1be2eba33fe80b594ef522fe0d18bc56ac727" src="<%= article.thumbnail_url %>" class="img-responsive">
          </div>

          <div class="col-sm-9 col-xs-12">
            <h3 style="margin-top:0px"><%=h truncate(article.title, :length => 60) %></h3>
            <p class="text-muted"><%= article.site.name %></p>
            
          </div>

          <div class="col-sm-1 hidden-xs">
            <div class="popular_article_like">
              <div><i class="fa fa-heart"></i> <small><%= article.like %></small></div>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>
